@model Forum.ViewModels.SectionUpdateViewModel

@{
    ViewBag.Title = "Create New Section";
}

<div class="container content">
    <div class="form col-md-offset-2 col-md-6">
        <div class="page-header">
            <h2>@ViewBag.Title</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <button type="submit" class="btn btn-default">Create</button>

        }
        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    </div>


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
